.button-wrapper {
  display: flex;
  justify-content: center;
}

.button {
  font-family: inherit;
  line-height: 1;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.1s;
  background: orange;
  height: 42px;
  color: var(---gray-00);
  min-width: 125px;
  padding: 0 1em;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
